@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <p>Oi.</p>
		<p><a href=/Twitter/Authorize/">Authorize</a></p>
    </div>
</body>
</html>
